:root {

    /* color */
    --color-musicsheet: #ffffff;
    --color-peace: #DBDBDB;
    --color-nav: #4D4D4D;
    --color-brown: #EFD7C2;
    --color-background: #EEEEEE;
    --color-uploadimage: #628FE7;
    --color-title: #FFC24D;
}

* {
    margin: 0;
    touch-action: none;
}

body {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
}

/* menu modal */
.modal {
    box-sizing: border-box;
    padding-top: 56px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
}

#body_modalPlus {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#body_modalPlus p {
    color: var(--color-musicsheet);
    font-weight: bold;
    margin-bottom: 40px;
}

#btnFlag_box {
    width: 320px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#btnFlag_box div {
    width: 120px;
    height: 120px;
    background-color: var(--color-brown);
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#menu_box {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20%;
    align-items: center;
}

#menu_box h1 {
    color: var(--color-title);
    font-size: 60px;
    margin-bottom: 16px;
}

#menu_box h2 {
    color: var(--color-musicsheet);
    font-size: 40px;
    margin-bottom: 10px;
}

/* nav */
nav {
    position: relative;
    width: 100vw;
    height: 56px;
    background-color: var(--color-nav);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

#nav_main {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px 0 16px;
}

#logo {
    color: var(--color-brown);
    font-size: 30px;
}

#btn_box {
    width: 94px;
    display: flex;
    justify-content: space-between;
}

#btn_plus {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#btn_menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* workspace */
#workspace {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
}

/* canvas */
#canvas_box {
    width: calc(100vw * 303 / 320);
    height: calc(100vw * 429 / 320);
    position: relative;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.inCanvasBox {
    width: calc(100vw * 303 / 320);
    height: calc(100vw * 429 / 320);
    position: absolute;
}

#canvasFlag {
    width: calc(100vw * 303 / 320);
    height: calc(100vw * 429 / 320);
    z-index: 2;
}

#canvasMain {
    background-color: var(--color-musicsheet);
    box-shadow: 0px 4px 4px #9b9b9b;
    z-index: 1;
}

#canvasSubmit {
    width: calc(100vw * 303 / 320);
    height: calc(100vw * 429 / 320);
    display: none;
}

input {
    display: none;
}

#label {
    z-index: 3;
}